{% extends "overland/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
<div id="main">
    <div class="container">
     	<div class="row">
            <div class="5u">
    			<header>
            		<h2>Thank You!</h2>
        		</header>
        		<p>Your application has been recieved! If you have any more questions or concerns, feel free to send us an E-mail at 'some email'. Otherwise feel free to continue browsing our site by following any of the links above!</p>
        	</div>
        </div>
    </div>
</div>

{% endblock content %}
