{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
		<div id="main">
			<div class="container">
				<header>
					<h2>Basic Details</h2>
				</header>
				<div class="row">
					<ul>
						<li>Galway to Norway</li>
						<li>March 25th - 15th April 2016</li>
						<li>Road Kilometers 5,153 - Round Trip</li>
						<li>In aid of the charity Pieta House</li>
						<br>
						<p>Join this fundraising Overland journey to Norway. A total of ten Land Rovers will begin this exciting journey to the beautiful region of Norway, covering a total of 5,153 kilometers in the months of March and April 2016. All sponsorship funds will benifit Pieta House.</p>
						<p>This Overland journey is open to any model of Land Rover. The journey will be combination of road and ferry and will depart Galway City on March 25th 2016. All overnight stays will be a combination of wild camping or organised campsites, so all participants must be prepared adequately for this adventure. The return date to Ireland is April 15th 2016.</p>
						<p>Each individual is responsible for all their own costs, ferry bookings and campsite fees. All vehicles must be road worthy and insured for travel outside of Ireland.</p>
						<p>Of the ten vehicles traveling, 4 spaces are available currently and each vehicle will be required to raise 1000 euro in sponsorship to benifit Pieta House.</p>
					</ul>
				</div>
				<div class="divider">&nbsp;</div>
				<div class="row">
				
					<!-- Content -->
						<div class="6u skel-cell-important">
							<section id="content">
								<header>
									<h2>Ferry Costs</h2>
								</header>
								<ul>
									<li>Ferry - Dublin to Holyhead 320 euro</li>
									<li>Ferry - Harwich to Rotterdam 196 euro</li>
									<li>Ferry - Hirtshals to Kristiansand 95 euro</li>
									<br>
									<p>These ferry rates are based on two passengers with a Land Rover Defender on a return basis, excluding Hirtshals to Kristiansand. These rates are for May 2015 as March 2016 are not available as of yet. If bookings are made in Dec of 2015,the Dublin - Holyhead leg should be cheaper. Group rates may also be available.</p>
								</ul>
							</section>
						</div>
						<div id="sidebar" class="5u">
							<a href="#" class="image full"><img src="{% static 'images/car-ferry.jpg' %}" width="600" height="300" alt="Defender 110" /></a>
						</div>
					</div>
					<!-- /Content -->
				<div class="divider">&nbsp;</div>
				<div class="row">
					<div class="6u skel-cell-important">
						<section id="content">
							<header>
								<h2>Diesel and Petrol Costs</h2>
							</header>
							<ul>
								<li>England Diesel - 1.48 euro</li>
								<li>Holland Diesel - 1.27 euro</li>
								<li>Denmark Diesel - 1.21 euro</li>
								<li>Norway Diesel - 1.45 euro</li>
								<li>Sweden Diesel - 1.37 euro</li>
								<br>
								<li>Estimated Diesel Total - 516 euro</li>
								<br>
								<p>Diesel prices for the countries that we will visit, these prices are from the date of Oct 1, 2015. The estimated diesel cost
								   is based on an average of 1.30 euro per liter to cover 2,618 road miles or 4,213 kilometers.</p>
							</ul>
						</section>
					</div>
					<div id="sidebar" class="5u">
							<a href="#" class="image full"><img src="{% static 'images/diesel.jpg' %}" width="600" height="300" alt="Defender 110" /></a>
						</div>
				</div>		
			</div>
		</div>
{% endblock content %}
