{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
		<div id="main">
			
			<div class="">
				
			<div class="container -2u" style="display: inline-block;">



				<header>
					<h2>Where we are headed</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/rotterdam.jpg' %}" width="262" height="160" alt="Rotterdam" /></a>
							<h3>Rotterdam</h3>
							<a href="https://en.wikipedia.org/wiki/Rotterdam" class="button">Read More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/hirtshals.jpg' %}"width="262" height="160" alt="Hirtshals" /></a>
							<h3>Hirtshals</h3>
							<a href="https://en.wikipedia.org/wiki/Hirtshals" class="button">Read More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/kristiansand.jpg' %}" width="262" height="160" alt="Kristiansand" /></a>
							<h3>Kristiansand</h3>
							<a href="https://en.wikipedia.org/wiki/Kristiansand" class="button">Read More</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/Bergen.jpeg' %}" width="262" height="160" alt="Bergen" /></a>
							<h3>Bergen</h3>
							<a href="https://en.wikipedia.org/wiki/Bergen" class="button">Read More</a>
						</section>
					</div>
				</div>
				<div class="row">
					
						<section id="content" style="font-size: 24px">
							Feel free to email us with an questions or concerns at <a href="#" style="font-color: red">norwaylrexpedition@gmail.com</a>
						</section>
				</div>
				<div class="divider"></div>

				<div class="row">

					<div class="4u skel-cell-important">
						<a href="http://greenlanedonegal.town.ie/home" class="image full"><img src="{% static 'images/greenlane.jpg' %}" width="500" height="200" alt="Greenlane Donegal" /></a>
					</div>

					<div id="sidebar" class="6u">
							<h3>Greenlane Donegal</h3>
							<br>
							<p>Greenlane Donegal would like to welcome greenlaners from all over the world to enjoy Donegal's lanes as the best place for your adventure holiday! Wrapped in 230 miles of rugged coastline, Donegal has numerous sandy beaches, bays, secluded harbours and coves for the visitor to seek out and discover.
					</div>
				</div>

				<div class="divider"></div>
				<div class="row">

					<div class="4u skel-cell-important">
						<a href="http://www.glenvalleyadventurecentre.com/" class="image full"><img src="{% static 'images/glenvalley.jpg' %}" width="500" height="200" alt="Glen Valley Adventure Centre" /></a>
					</div>

					<div id="sidebar" class="6u">
							<h3>Glen Valley Adventure Centre</h3>
							<br>
							<p>Glen Valley Adventure Centre is based in North Donegal along the Wild Atlantic Way, offering a wide range of Adventure Activities for everyone that enjoys an adrenaline rush!
					</div>
				</div>
				<div class="divider"></div>
				<div class="row">
						<!-- Content -->
						<div class="7u skel-cell-important">
							<section id="content">
								<header>
									<h2>Countdown to Departure</h2>
								</header>
								<script>
									var myCountdown1 = new Countdown({
										year: 2016,
										month: 3,
										day: 24,
									});
								</script>
							</section>
						</div>
					<!-- /Content -->
					<!-- Sidebar -->
						<div id="sidebar" class="4u">
							<a href="#" class="image full"><img src="{% static 'images/110.jpg' %}" width="500" height="200" alt="Defender 110" /></a>
						</div>
					<!-- Sidebar -->
						
				</div>
			</div>
			<div id="sidebar" class="container 2u" style="display: inline-block;">
				<div class="fb-page" data-href="https://www.facebook.com/GalwaytoNorway/?ref=aymt_homepage_panel" data-width="400" data-height="1160" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/GalwaytoNorway/?ref=aymt_homepage_panel"><a href="https://www.facebook.com/GalwaytoNorway/?ref=aymt_homepage_panel">Galway to Norway</a></blockquote></div></div>
			</div>
		</div>
		</div>
	<!-- Main -->
	<!-- Copyright -->
{% endblock content %}
