{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main">
	<div class="container">
		<h2>Day 1</h2>
		<br>
		<ul>Departing: Galway</ul>
		<ul>Destination: Dublin</ul>
		<ul>Driving Distance: 136 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 594 Miles </ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 2</h2>
		<br>
		<ul>Departing: Dublin</ul>
		<ul>Destination: Harwich</ul>
		<ul>Driving Distance: 344 Miles</ul>
		<ul>Ferry Distance: 250 Miles</ul>
		<ul>Total Distance: 594 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 3</h2>
		<br>
		<ul>Rest Day in Amsterdam</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 4</h2>
		<br>
		<ul>Departing: Amsterdam</ul>
		<ul>Destination: Hamburg, Germany</ul>
		<ul>Driving Distance: 291 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 291 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 5</h2>
		<br>
		<ul>Departing: Hamburg</ul>
		<ul>Destination: Skorping, Denmark</ul>
		<ul>Driving Distance: 262 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 262 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 6</h2>
		<br>
		<ul>Departing: Skorping</ul>
		<ul>Destination: Preikestolen, Norway</ul>
		<ul>Driving Distance: 240 Miles</ul>
		<ul>Ferry Distance: 56 Miles </ul>
		<ul>Total Distance: 296 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 7</h2>
		<br>
		<ul>Departing: Preikestolvegen</ul>
		<ul>Destination: Bergen, Norway</ul>
		<ul>Driving Distance: 160 Miles</ul>
		<ul>Ferry Distance: 5 Miles </ul>
		<ul>Total Distance: 165 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 8</h2>
		<ul>Departing: Bergen</ul>
		<ul>Destination: Atlantic Road</ul>
		<ul>Driving Distance: 304 Miles</ul>
		<ul>Ferry Distance: 6 Miles</ul>
		<ul>Total Distance: 310 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 9</h2>
		<ul>Departing: Atlantic Road</ul>
		<ul>Destination: Oslo, Norway</ul>
		<ul>Distance: 392 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 392 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 10</h2>
		<br>
		<ul>Departing: Oslo</ul>
		<ul>Destination: Gothenburg, Sweden</ul>
		<ul>Driving Distance: 177 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 177 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 11</h2>
		<br>
		<ul>Rest Day in Gothenburg</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 12</h2>
		<br>
		<ul>Departing: Gothenburg</ul>
		<ul>Destination: Maribo, Sweden</ul>
		<ul>Driving Distance: 293 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 293 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 13</h2>
		<br>
		<ul>Departing: Maribo</ul>
		<ul>Destination: Osnabruck, Germany</ul>
		<ul>Driving Distance: 260 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 260 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 14</h2>
		<br>
		<ul>Departing: Osnabruck</ul>
		<ul>Destination: Bruges,  Belgium</ul>
		<ul>Driving Distance: 283 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 283 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 15</h2>
		<br>
		<ul>Rest day in Bruges</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 16</h2>
		<br>
		<ul>Departing: Bruges</ul>
		<ul>Destination: Solihull, West Midlands, UK</ul>
		<ul>Driving Distance: 264 Miles</ul>
		<ul>Ferry Distance: 296 </ul>
		<ul>Total Distance: 32 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 17</h2>
		<br>
		<ul>Rest Day in Solihul</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 18</h2>
		<br>
		<ul>Departing: Solihull</ul>
		<ul>Destination: Snowdonia, Wales</ul>
		<ul>Driving Distance: 122 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 122 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 19</h2>
		<br>
		<ul>Departing: Snowdonia</ul>
		<ul>Destination: Wicklow, Ireland</ul>
		<ul>Driving Distance: 100 Miles</ul>
		<ul>Ferry Distance: 42 </ul>
		<ul>Total Distance: 142 Miles</ul>

		<div class="divider">&nbsp;</div>

		<h2>Day 20</h2>
		<ul>Departing: Wicklow</ul>
		<ul>Destination: Galway, Ireland</ul>
		<ul>Driving Distance: 152 Miles</ul>
		<ul>Ferry Distance: N/A </ul>
		<ul>Total Distance: 152 Miles</ul>

	</div>
</div>

{% endblock content %}