{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
		<div id="main">
			<div class="container">
				<header>
					<h2>Participants</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/seamus.jpg' %}" width="262" height="160" alt="Seamus" /></a>
							<h3>Seamus Dooley</h3>
							<p>Seamus and his 1993 Land Rover Defender 110, Seamus is the main event organizer, and resides in Craughwell, County Galway. Seamus rebuilt his Defender 110 over a two year period, starting with a new galvanized chasse. Main additions to the vehicle include, rooftop tent, side awning, discovery rear axle, discovery front seats, and exmoor trim second row seats. The vehicle features original engine and gear box. Seamus's occupation is in hotel management. Seamus is married with 5 children.</p>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/ryan.jpg' %}"width="262" height="160" alt="Ryan" /></a>
							<h3>Ryan Dooley</h3>
							<p>Ryan Dooley, son of Seamus Dooley, resides in Arizona currently attending Northern Arizona Unviersity. Ryan will be documenting the trip and keeping followers up to date on the blog. Ryan created the expedition website.</p>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/Val.jpg' %}" width="262" height="160" alt="Val" /></a>
							<h3>Val Lyman</h3>
							<p>Val Lynam and his 2003 defender 110. Val is a professional chef an I am sure his skill set will be very welcomed by all participants on the adventure.</p>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="{% static 'images/silhouette.png' %}" width="262" height="160" alt="You" /></a>
							<h3>You?</h3>
							<p>Are you interested in going? Head over to the Participate page to apply!</p>
						</section>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}