{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main">
	<div class="container">
		<div class="row">			
			<!-- Content -->
			<div class="8u skel-cell-important">
				<section id="content">
					<header>
						<h2>Map</h2>
					</header>
					<!-- <iframe src="https://mapsengine.google.com/map/embed?mid=ztPv2ktbzvOg.k5mnDf96qbl8" width="640" height="480"></iframe> -->
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=ztPv2ktbzvOg.k5mnDf96qbl8" width="640" height="480"></iframe>
				</section>
			</div>
	<!-- /Content -->
						
	<!-- Sidebar -->
			<div id="sidebar" class="4u">
				<section>
					<header>
						<h2>Full Route</h2>
					</header>
					<ul class="default">
						<li>Day 1: Galway to Shropshire 410 km (Ferry)</li>
						<li>Day 2: Shropshire to Amsterdam 450 km (Ferry)</li>
						<li>Day 3: Rest day in Amsterdam</li>
						<li>Day 4: Amsterdam to Hamburg 468 km</li>
						<li>Day 5: Hamburg to Skorping 422 km</li>
						<li>Day 6: Skorping to Preikestolvegen 340 km (Ferry)</li>
						<li>Day 7: Preikestolvegen to Bergen 265 km (Ferry)</li>
						<li>Day 8: Rest day Bergen</li>
						<li>Day 9: Bergen to Oslo 462 km</li>
						<li>Day 10: Oslo to Gothenburg 293 km</li>
						<li>Day 11: Rest day Gothernburg</li>
						<li>Day 12: Gothenburg to Maribo So 452 km</li>
						<li>Day 13: Maribo So to Osnabruck 400 km (Ferry)</li>
						<li>Day 14: Osnabruck to Bruge 447 Km</li>
						<li>Day 15: Rest day in Bruge</li>
						<li>Day 16: Bruge to Solihul 420km (Tunnel)</li>
						<li>Day 17: Rest day in Solihul</li>
						<li>Day 18: Solihul to Snowdonia 228 km</li>
						<li>Day 19: Snowdonia to Wicklow 153 km (Ferry)</li>
						<li>Day 20: Wicklow Mountains to Galway 245 km</li>
					</ul>
				</section>
			</div>		
		</div>
	</div>
</div>
{% endblock content %}