{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main">
	<div class="container">
		<div class="row">			
			<!-- Content -->
			<div class="8u skel-cell-important">
				<section id="content">
					<header>
						<h2>Map</h2>
					</header>
					<!-- <iframe src="https://mapsengine.google.com/map/embed?mid=ztPv2ktbzvOg.k5mnDf96qbl8" width="640" height="480"></iframe> -->
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=ztPv2ktbzvOg.k5mnDf96qbl8" width="640" height="480"></iframe>
				</section>
			</div>
	<!-- /Content -->
						
	<!-- Sidebar -->
			<div id="sidebar" class="4u">
				<section>
					<header>
						<h2>Full Route</h2>
					</header>
					<ul class="default">
						<li>Day 1: Galway to Dublin 136 Mi</li>
						<li>Day 2: Dublin to Harwich 344 Mi (Ferry)</li>
						<li>Day 3: Rotterdam to Amsterdam and Rest Day 80 Mi</li>
						<li>Day 4: Amsterdam to Hamburg 291 Mi</li>
						<li>Day 5: Hamburg to Bergen 316 Mi</li>
						<li>Day 6: Bergen to Grodas 198 Mi </li>
						<li>Day 7: Grodas to Sunndalsora 198 Mi </li>
						<li>Day 8: Sunndalsora to Risdal 151 Mi </li>
						<li>Day 9: Risdal to Oslo 173 Mi</li>
						<li>Day 10: Oslo to Gothenburg 177 Mi</li>
						<li>Day 11: Rest day Gothernburg</li>
						<li>Day 12: Gothenburg to Maribo 293 Mi</li>
						<li>Day 13: Maribo to Osnabruck 260 Mi</li>
						<li>Day 14: Osnabruck to Bruge 283 Mi</li>
						<li>Day 15: Rest day in Bruge</li>
						<li>Day 16: Bruge to Solihul 296 Mi (Ferry)</li>
						<li>Day 17: Rest day in Solihul</li>
						<li>Day 18: Solihul to Snowdonia 122 Mi</li>
						<li>Day 19: Snowdonia to Wicklow 142 Mi (Ferry)</li>
						<li>Day 20: Wicklow to Galway 152 Mi</li>
					</ul>
				</section>
			</div>		
		</div>

		<div class="divider">&nbsp;</div>

		
	</div>
</div>
{% endblock content %}