{% extends "overland/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main">
	<div class="container">
		<header>
			<h2>About Pieta House</h2>
		</header>
		<p>Pieta House, the centre for the prevention of self-harm or suicide opened over nine years ago with Lucan in County Dublin the centre of operations. In the intervening years we have seen and helped over 18,000 people in suicidal distress or engaging in self-harm, and opened up eight subsequent centres, three in the greater Dublin area - Ballyfermot, Tallaght and Finglas and five further centres to cater for the rest of the country in Limerick, Cork, Tipperary, Galway and Kerry.

		<p>In 2003, our founder and former CEO, Joan Freeman, a practising psychologist, closed down her own counselling business and dedicated her time to finding out how she could help people who were suicidal - what would be beneficial to them and help them get through their dark time. After three years of research, she opened up Pieta House, which quickly became a respected and recognised service for those who were suicidal.

		<p>Having counselled many people in the past who were self-harming, Joan realised that this was a topic never discussed and rarely understood, and she decided to also help people with this debilitating issue.

		<p>From humble beginnings, Pieta House has grown to almost 180 therapists and administration staff, and the demand for our service hasn’t let up. To that end, in 2014 alone, over 5,000 people came through our doors suffering from suicidal ideation or engaging in self-harm.

		<p>For more information visit <a href="http://www.pieta.ie/about">pieta.ie</a>.
	</div>
</div>
{% endblock content %}